<p>filter works!</p>
<div class="my-3">
    <h2>Filter</h2>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01</strong>
            <hr>
            <p class="bg-light py-2 px -3 border rounded">
                <strong>Filter : </strong> by length
            </p>
            <hr>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02</strong>
            <hr>
            <p class="bg-light py-2 px -3 border rounded">
                <strong>Filter : </strong> by Gender
            </p>
            <hr>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03</strong>
            <hr>
            <p class="bg-light py-2 px -3 border rounded">
                <strong>Filter : </strong> by nth Item
            </p>
            <hr>
        </div>
    </div>
</div>