<mat-nav-list>
    <div class="logo py-4">
      <img src="../../assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/events">
      <mat-icon>event</mat-icon> Events
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/special-events">
      <mat-icon>event</mat-icon> SpecialEvents
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee-list">
      <mat-icon>badge</mat-icon> Employee
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">
      <mat-icon>login</mat-icon> Login
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/registration">
      <mat-icon>app_registration</mat-icon> Register
    </a>

    <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->
  </mat-nav-list>